<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <a href="/cart">Cart</a>
    <a href="/product">Product</a>
    <a href="/">Home</a>
    <h1>Cart</h1>
</head>
<body>
    <Div class="cart">
        <img src="https://1pc.co.il/images/thumbs/0008129_-jbl-headphones-harman-tune510-bt-black_510.jpeg" width="300">
        <p><br>JBL tune 660NC<br>
           <br> The JBL Tune660 NC is a wireless over-ear headphone with active noise cancellation, delivering immersive sound, comfortable fit, and excellent noise isolation for a distraction-free audio experience.
        <br><br>100$</p>
        <button>remove</button>
        <button>save for later</button>
    </Div>
    <Div class="cart1">
        <img src="https://www.jbl.com/dw/image/v2/BFND_PRD/on/demandware.static/-/Sites-masterCatalog_Harman/default/dw58341e77/JBL_CLIP4_HERO_STANDARD_BLUE_0741_x1.png?sw=535&sh=535" width="300">
        <p><br>JBL clip 4<br>
           <br> The JBL Clip 4 is a compact and portable Bluetooth speaker that offers surprisingly powerful audio, rugged build quality, and a built-in carabiner for convenient on-the-go music enjoyment.
        <br><br>80$</p>
        <button>remove</button>
        <button>save for later</button>
    </Div>
</body>
</html>